<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body >
<div class="w3-display-middle"  *ngIf="producto" >
    <label> Nombre </label>
    <br/>
    <input type="text" [(ngModel)]="producto.Nombre" class="w3-input w3-border"/>
    <br/>
    <label> Descripcion </label>
    <br/>
    <input type="text" [(ngModel)]="producto.Descripcion" class="w3-input w3-border"/>
    <br/>
    <br/>
    <label> Valor </label>
    <br/>
    <input type="text" [(ngModel)]="producto.Valor" class="w3-input w3-border"/>
    <br/>
    <br/>
    <input type="button" (click)="Guardar()" value="Guardar" class="w3-input w3-border">
    

</div>

</body>
    